{% extends "base.html" %}

{% block title %}Update account{% endblock %}

{% block content %}
    {% load bootstrap4 %}
    {% load static %}

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form user_form %}
            {% bootstrap_form form %}  
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                Submit
                </button>
            {% endbuttons %}
        </form>
    </div>

    <script src="{% static 'js/validate-numeric.js' %}"></script>
    <script src="{% static 'js/account-update.js' %}"></script>
    <script>
        input_file = $('input[type=file]');
        input_file.after('<img id="id_preview" width=250>');

        input_file.change(function(){
            var file = input_file.get(0).files[0];

            if (file){
                console.log("Y")
                $('#id_preview').attr('src', URL.createObjectURL(file));
            }   
        })
    </script>
{% endblock %}
