{% extends "base.html" %}

{% block title %}Update account{% endblock %}

{% block content %}
    {% load bootstrap4 %}
    {% load static %}

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ formset.management_form }}
            {% for form in formset %}
                {% bootstrap_form form %}
            {% endfor %}

            {% bootstrap_form form %}  
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                Submit
                </button>
            {% endbuttons %}
        </form>
    </div>

    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'js/validate-numeric.js' %}"></script>
    <script src="{% static 'js/account-update.js' %}"></script>
{% endblock %}
